body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0 auto;
    background-color: #eeeeee;
    
}

.main {
    width: 1000px;
    margin: 0 auto;
    height: 100vh;
}

.cabecalho {
    padding: 30px;  
    text-align: center;
    background-color:rgb(128, 0, 0);
    width: 100%;
}

.cabecalho .home {
    width: 1000px;
    margin: 0 auto;
}

.cabecalho h1 {
    font-size: 50px;
    color: white;
}

.topnav {
    
    overflow: hidden;
    border-bottom: 5px solid rgb(128, 0, 0);
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    width: 100%;
}

.topnav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
}

.topnav a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    float: left;
}

.topnav a:hover {
    background-color: rgba(128, 0, 0, 0.5);
    color: black;
    border: solid 2px white;
    border-radius: 5px;
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    background-color: rgba(128, 0, 0, 0.5);
    


 
}

.corpoFooter {
    width: 1000px;
    align-self: center;
    align-content: center;
    display: flex;
    flex-flow: row;
    column-gap: 30px;

 
}

.colunaEsquerda {
  
    width: 485px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    
}

.colunaDireita{
    width: 485px;
    justify-content: center;
    display: flex;
    flex-flow: row wrap ;
    text-align: center;
    align-items: center;
    
}

.iconphone{ 
    margin-right: 5px;
    align-self: first baseline;

    
}
.iconphone img{
    width: 20px;
    height: 20px;
}

.contato {
    line-height: 10%;
    color:rgb(0, 0, 0)
}

.redes {
    line-height: 10%;
    color:rgb(0, 0, 0);
    
}

.iconredes {
  /* flex-flow: row
    justify-content: center;*/
    display: flex;
    column-gap: 30px;
}


.iconredes img{
    width: 50px;
    height: 50px;  
}

.btnVermelho{
    margin-top: 20px;
    background-color:rgb(128, 0, 0);
    color: aliceblue;
    float: right;
    
}

.btnVermelho:hover{
    background-color:rgb(158, 9, 9);
    color: aliceblue;
    
    
}

.labeltxt{
    margin-top: 20px;
}