body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0 auto;
    background-color: #eeeeee;
}

main {
    width: 900px;
    margin: 0 auto;
}

.cabecalho {
    padding: 30px;  
    text-align: center;
    background-color:rgb(128, 0, 0);
    width: 100%;
}

.cabecalho .home {
    width: 900px;
    margin: 0 auto;
}

.cabecalho h1 {
    font-size: 50px;
    color: white;
}

.topnav {
    
    overflow: hidden;
    border-bottom: 5px solid rgb(128, 0, 0);
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    width: 100%;
}

.topnav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
    margin: 0 auto;
}

.topnav a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    float: left;
}

.topnav a:hover {
    background-color: rgba(128, 0, 0, 0.5);
    color: black;
    border: solid 2px white;
    border-radius: 5px;
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(128, 0, 0, 0.5);
    
    margin-top: 30px;

 
}

.corpoFooter {
    width: max-content;

    display: flex;
    flex-flow: row;
 
}

.colunaEsquerda {
  
    width: 600px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    
}

.colunaDireita{
    width: 400px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.imagesft{
    width: 50px;
    height: 50px; 
    margin-right: 10px;

    
}
.imagesft img{
    width: 50px;
    height: 50px;
}

.texto {
    line-height: 10%;
    color:rgb(0, 0, 0)
}

.textoDireito {
    line-height: 10%;
    color:rgb(0, 0, 0);
    
}

.imagesft2 {
  /* flex-flow: row
    justify-content: center;*/
    display: flex;
    width: 400px;
    justify-content: center;
    column-gap: 10px;

}


.imagesft2 img{
    width: 50px;
    height: 50px;  
}

.btnVermelho{
    margin-top: 20px;
    background-color:rgb(128, 0, 0);
    color: aliceblue;
    float: right;
    
}

.btnVermelho:hover{
    background-color:rgb(158, 9, 9);
    color: aliceblue;
    
    
}

.labeltxt{
    margin-top: 20px;
}